/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: sans-serif;
    font-size: 12px;

    color: #ffffff;
}

.border {
    border: 2px dashed #ffffff;
}


/* Layout */

.container {
    height: 100vh;
}


.top-container {
    display: flex;
    background-color: #141922;
    height: calc(100vh - 5vh);
}

/* Margin  */


/* Sidebar */

#side-nav {
    background-color: #000000;
    width: 7%;
    font-size: 12px;
    text-align: center;
}

#side-nav img {
    width: 100%;
    padding: 5px 8px;
}

#logo-small {
    width: 100%;
    padding-top: 5px;
}

ul {
    list-style-type: none;
    text-align: center;
}

a {
    text-decoration: none;
    color: gray;
}

.circle {
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;

    margin: 0 auto;

    background-color: gray;
}

.circle img {
    width: 100%;
    object-fit: contain;
}

/* Display none in mobile version */

#logo {
    width: 100%;
    padding-top: 5px;
    display: none;
}

a > span {
    display: none;
}

figure > a {
    display: none;
}

.text-display a {
    display: none;
}

.side-nav-center h2 {
    margin: 10px 0px;
    font-size: 15px;
    text-transform: uppercase;

    display: none;
}

.side-nav-bottom {
    padding-top: 400px;
}

.side-nav-bottom h4 {
    display: none;
}



/* Header */

header {
    height: 80px;
    width: 100%;
    background-color: #090B12;

    position: fixed;
    top: 0;

    z-index: 1;

    overflow: hidden;
}



/* Playlist */


.playlist {

    padding-top: 80px;

    overflow-y: scroll;
}


/* Footer */

footer {
    height: 80px;
    width: 100%;
    background-color: #282828;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 1;
}



/* Responsive */

@media screen and (min-width: 530px) {

    /* Sidebar */

    #side-nav {
        width: 30%;
        font-size: 15px;

        text-align: left;
    }

    #side-nav > .side-nav-top, .side-nav-center {
        padding: 10px 15px;
    }

    #logo-small {
        display: none;
    }

    #side-nav img {
        width: 30px;
        margin-left: -10px;

        vertical-align: middle;
    }

    #logo {
        width: 100px;
        display: inline-block;
    }


    a > span {
        display: inline-block;
    }

    figure > a {
        display: inline-block;
    }

    .text-display a {
        display: inline-block;
  
    }

    .side-nav-center h2{
        display: block;
    }

    .side-nav-center span::before{
        content: "+";
        background-color: rgba(255, 255, 255, 0.5);
        color: #000000;
        font-size: 30px;

        vertical-align: middle;
        padding: 0 12px;
        margin-right: 10px;
    }

    .side-nav-bottom {
        padding-top: 340px;
        padding-left: 8px;
    }

    .side-nav-bottom h4 {
        display: inline-block;
    }
    
    .circle img {
        width: 100%;
        margin: 0 auto;
    }

    ul {
        text-align: left;
    }

    .text-display li {
        padding-top: 15px;
    }
}
    
