/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: sans-serif;
}

.border {
    border: 2px dashed black;
}


/* Layout */

.top-container {
    display: flex;
    background-color: yellow;
    height: calc(100vh - 10vh);
}


/* Sidebar */

aside {
    background-color: green;
    width: 10%;
}

aside > * {
    padding-top: 5px;
    margin: 0 auto;
}

#logo {
    width: 80%;
}

ul {
    list-style-type: none;

}

.fa-li {

}

/* Header */

header {
    height: 80px;
    width: 100%;
    background-color: rgba(111, 2, 2, 0.373);

    position: fixed;
    top: 0;

    z-index: 1;

    overflow: hidden;

}



/* Playlist */


.playlist {

    padding-top: 80px;

    position: relative;

    overflow-y: scroll;

}


/* Footer */

footer {
    height: 80px;
    width: 100%;
    background-color: blue;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 1;
}



/* Responsive */

@media screen and (min-width: 600px) {

}
    
